<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bawp.myapplication">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".UserEditProfileActivity"></activity>
        <activity android:name=".NewOrdersActivity" />
        <activity android:name=".ReceivedGoodsActivity" />
        <activity android:name=".AddGoodsActivity" />
        <activity android:name=".AdminOrderSettingsDashBoardActivity" />
        <activity android:name=".AdminDashBoardActivity" />
        <activity android:name=".EditItemActivity" />
        <activity android:name=".PaymentActivity" />
        <activity android:name=".SplashMain" />
        <activity android:name=".UserDashBoardActivity" />
        <activity android:name=".UserLoginActivity" />
        <activity android:name=".UserOrderSettingsDashBoardActivity" />
        <activity android:name=".UserRegistrationActivity" />
        <activity android:name=".ViewAllMyOrdersActivity" />
        <activity android:name=".ViewOrdersActivity" />
        <activity android:name=".AdminLoginActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".SplashScreenMain">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>